---
layout: page
title: "About"
description: "Hey, this is MeloGuo."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        不左不右，只走当中。
    </blockquote>

    <p>目标职位：<b>前端工程师</b></p>
    <p>邮箱：<a href="mailto:guoziliang199606@outlook.com">guoziliang199606@outlook.com</a></p>
    <p>手机号：17600480763</p>

    <h2 id="教育背景">教育背景</h2>
    <hr>
    <p>2018 年毕业，湖南师范大学（211）教育技术学学士（此专业开设有计算机相关专业课程）</p>


    <h2 id="工作经历">工作经历</h2>
    <hr>
    <h3 id="北京嘟嘟一下科技有限公司 - 2019.3 ～ 至今">北京嘟嘟一下科技有限公司 - 2019.3 ～ 至今</h3>
    <ul>
        <li><b>小程序 UI 组件库建设</b>
        </li>
    </ul>
    <p>小程序项目面临多端发展，重复的 UI 需求经常出现，官方 UI 组件无法满足，第三方修复 Bug 速度不可控。面对此问题我提出组件库方案，并负责整个组件库的设计、编码、测试、内部推广和文档等工作，从需求分析到 API
        设计再到单元测试一应俱全。组件库在内部使用后提升了开发效率，简化了业务代码，更加易于维护，新人上手成本更低，多端复用也得以实现。</p>

    <ul>
        <li><b>小打卡微信小程序项目级重构</b>
        </li>
    </ul>
    <p>两年快速的业务迭代导致留下很多技术债务，显著提升了代码的复杂度和 Bug 率，而且在文档缺失的情况下，基础库的使用很依赖于口口相传。所以我提出重构方案，将原 JavaScript 代码库渐进式替换为使用 TypeScript
        编写，利用其智能提示和类型检测的能力提升开发体验和减少 Bug。同时使用 MobX 作为状态管理工具，并构建领域模型。在重构完成项目基础库代码和三个 PV
        访问量最高页面后，通过文档、分享和教学带领其他团队成员上手新的开发模式。显著降低了旧有 Bug 的数量和团队成员的沟通成本，也让后加入的新人可以快速上手开发业务。</p>

    <ul>
        <li><b>其他</b>
        </li>
    </ul>
    <p>篇幅有限，除以上内容外还做了下面这些有价值的事情</p>
    <ul>
        <li> 负责主管 3 名员工开展日常业务
        </li>
        <li> 负责前端部门应届生的面试考察
        </li>
        <li> 重点解决长列表的性能优化问题
        </li>
        <li> 基于 UEditor 浏览器端用户后台富文本编辑器的开发改造
        </li>
        <li> 通过文章、翻译、视频、分享等方式推进公司的技术文化建设
        </li>
    </ul>

    <h3 id="生活精选（北京）网络科技有限公司 - 2018.2 ～ 2019.2">生活精选（北京）网络科技有限公司 - 2018.2 ～ 2019.2</h3>
    <ul>
        <li><b>心愿时间 - 微信小程序</b>
        </li>
    </ul>
    <p>一个 UGC 社交类微信小程序，使用微信小程序原生开发。我在此项目负责了基础用户信息页、帖子页、抽奖功能、身份鉴权等功能。并将项目的回调请求式异步优化为 Promise 式和 async/await
        式，解决了发帖、图片上传模块的回调地狱和耦合问题。并且进行了身份鉴权组件、弹窗 modal 组件等可复用代码的组件化。并且优化了业务开发流程引入 Gulp
        解决了原生开发微信小程序的一些痛点。同时将此次项目的经验移植到了其他项目中，并且抽象出了快速复用的模板来快速创建一个新的 UGC 类微信小程序。同时将小程序主页
        的长列表进行了性能优化，明显提升了小程序在安卓手机下的使用体验。 </p>

    <ul>
        <li><b>其他 - 微信小程序</b>
            <ul>
                <li> 发发好货 - 一个购物类小程序，使用微信小程序原生开发。涉及商品选购、购物车、商品优惠等功能。
                </li>
                <li> 朋朋星球 - 一个旅游点评类小程序，使用微信小程序原生开发。
                </li>
            </ul>
        </li>
    </ul>


    <h2 id="个人技能">个人技能</h2>
    <hr>
    <ul>
        <li><b>语言</b>
            <ul>
                <li> 熟练掌握 JavaScript、HTML、CSS
                </li>
                <li> 可以将 TypeScript 应用于业务开发
                </li>
                <li> 了解并在项目中应用函数式编程的相关思想
                </li>
                <li> 有良好的编码习惯， 能够理解并使用常见设计模式，如: 单例例模式、装饰器器模式、观察者模式等
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><b>框架相关</b>
            <ul>
                <li> 熟练运用微信小程序开发的相关技术
                </li>
                <li> 掌握 Vue 的组件化开发并擅长抽象出通用组件。了解 Vue 的实现机制与原理。看过部分 Vue 的源代码
                </li>
                <li> 了解并联系过 React、Redux、React-router、Webpack、Sass、NPM 在项目开发中的使用
                    <ul>
                        <li> 有 Express 和 Flask 的使用经验
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><b>计算机基础</b>
            <ul>
                <li> 计算机网络基础扎实，对于应用层和传输层内容有较全面的理解
                </li>
                <li> 理解并能编码出常见、常用数据结构与算法
                </li>
            </ul>
        </li>
    </ul>


    <h2 id="自我评价">自我评价</h2>
    <p>热爱编程，善于总结，平时会撰写技术文章，能够顺畅阅读英文文档，并且平时会做<a
            href="http://meloguo.com/tags/#%E7%BF%BB%E8%AF%91">文本翻译</a>。逻辑清晰，沟通能力强，曾担任面试官和小组主管，并且多次在全体公司人员内部发表演讲。在微信小程序之外的开发经验不多，所以未来的发展希望能在微信小程序之外做出更多能力上的拓展，成为更加全面的前端工程师。
    </p>


    <p><strong>很高兴认识你，如果对我感兴趣希望可以进行联系。</strong></p>
</div>

<!-- English Version -->
<div class="en post-container" style="display: none;">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you
        believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet,
        keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
        If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to
        be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
        -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // var $zh = document.querySelector(".zh");
    // var $en = document.querySelector(".en");
    // function onLanChange(index){
    //     if(index == 0){
    //         $zh.style.display = "block";
    //         $en.style.display = "none";
    //     }else{
    //         $en.style.display = "block";
    //         $zh.style.display = "none";
    //     }
    // }
    // onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread" {% if site.duoshuo_username == "huxblog" %} data-thread-id="1187623191091085319" {% else %}
        data-thread-key="{{site.duoshuo_username}}/about" {% endif %} data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}" />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = { short_name: _user };
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript'; ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}