---
layout: page
title: "About"
description: "Hey, this is MeloGuo."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        不左不右，只走当中。
    </blockquote>

    <h2 id="toc_1">个人信息</h2>

    <p>郭梓梁 / 男 / 1996<br/>
    本科 / 湖南师范大学教育技术系(211)<br/>
    工作年限：1年（前端经验：1.5年）<br/>
    技术博客：<a href="http://meloguo.com">http://meloguo.com</a><br/>
    Github：<a href="https://github.com/MeloGuo">https://github.com/MeloGuo</a></p>

    <h2 id="toc_2">联系方式</h2>

    <p>应聘职位：前端开发工程师<br/>
    手机：17600480763<br/>
    Email：<a href="mailto:guoziliang199606@outlook.com">guoziliang199606@outlook.com</a><br/>
    微信号：921877607  </p>

    <h2 id="toc_3">工作经历</h2>

    <h3 id="toc_4">1. 湖南师范大学附属中学（实习） （2017年3月 - 2017年7月）</h3>

    <h4 id="toc_5">任高一编程老师进行 Python 教学</h4>

    <p>本人曾对高一学生进行过编程教学，主要内容为编程思想、基本语法和基础数据结构与算法。</p>

    <h3 id="toc_6">2. 生活精选网络科技有限公司（ 2018年3月 ~ 2018年12月 ）</h3>

    <h4 id="toc_7">微信小程序 发发好货</h4>

    <ul>
    <li><p><strong>功能介绍</strong>：一个购物类小程序，使用原生 JavaScript 进行开发。涉及商品选购、购物车、商品优惠等功能。</p></li>
    <li><p><strong>负责内容</strong>：这是我在公司参与的第一个项目，我负责的主要是页面样式和卖家及买家信息页。在项目之外我向公司推广了 Visual Studio Code，并且帮助后端同事配置了更加高效便捷的 iTerm 配置来提升工作效率。</p></li>
    </ul>

    <h4 id="toc_8">微信小程序 心愿时间</h4>

    <ul>
    <li><p><strong>功能介绍</strong>： 一个 UGC 社交类微信小程序，使用原生 JavaScript + Gulp 进行开发。小程序中的页面及组件均自行开发，未使用任何第三方样式库或组件库。</p></li>
    <li><p><strong>负责内容</strong>：我在此项目负责了基础用户信息页、帖子页、抽奖功能、身份鉴权等功能。并将项目的回调请求式异步优化为 Promise 式和 async/await 式，解决了发帖、图片上传模块的回调地狱和耦合问题。并且进行了身份鉴权组件、弹窗 modal 组件等可复用代码的组件化。并且优化了业务开发流程引入 Gulp 解决了原生开发微信小程序的一些痛点。同时将此次项目的经验移植到了其他项目中，并且抽象出了快速复用的模板来快速创建一个新的 UGC 类微信小程序。同时将小程序主页的长列表进行了性能优化，明显提升了小程序在安卓手机下的使用体验。</p></li>
    </ul>

    <h4 id="toc_9">微信小程序 朋朋星球</h4>

    <ul>
    <li><strong>项目介绍</strong>：一个旅游点评类小程序，使用原生 JavaScript + Gulp 进行开发。</li>
    <li><strong>负责内容</strong>：我在此项目解决了头像剪裁、上传功能，并改造了小程序 canvas 开源库来满足项目需求。</li>
    </ul>

    <h2 id="toc_10">开源项目</h2>

    <h4 id="toc_11">Sight-Vue</h4>

    <ul>
    <li><strong>功能介绍</strong>：一个基于 Vue 框架的 UI 组件库。</li>
    <li><strong>预览地址</strong>：<a href="https://github.com/MeloGuo/Sight-Vue">SightVue</a></li>
    </ul>

    <h2 id="toc_12">前端作品</h2>

    <h4 id="toc_13">Canvas 射击小游戏</h4>

    <ul>
    <li><strong>功能介绍</strong>：使用 Canvas 实现的一个射击小游戏</li>
    <li><strong>预览地址</strong>：<a href="https://github.com/MeloGuo/CanvasShotGame">CanvasShot</a></li>
    </ul>

    <h4 id="toc_14">React 招聘 SPA</h4>

    <ul>
    <li><strong>功能介绍</strong>：使用 React 搭配 Express 实现的一个招聘 SPA，支持注册、登录、实时聊天等功能。</li>
    <li><strong>预览地址</strong>：<a href="https://github.com/MeloGuo/RecruitmentApp">ReactSPA</a></li>
    </ul>

    <h4 id="toc_15">Flask 博客论坛</h4>

    <ul>
    <li><strong>功能介绍</strong>：一个可进行注册、登录、发布文章等功能的博客论坛。使用了 Flask 框架和 SQLite 数据库。</li>
    <li><strong>预览地址</strong>：<a href="https://github.com/MeloGuo/FlaskBlogs-FinalAssignment">FlaskBlog</a></li>
    </ul>

    <h4 id="toc_16">CSS 相关</h4>

    <ul>
    <li><p><strong>精灵宝可梦绘画</strong> <br/>
    <strong>预览地址</strong>：<a href="https://MeloGuo.github.io/ExerciseItem/CSS/Pokemon/pokemon.html">Pokemon</a></p></li>
    <li><p><strong>加载动画</strong> <br/>
    <strong>预览地址</strong>：<a href="https://MeloGuo.github.io/ExerciseItem/CSS/Loading/loading.html">LoadingAnimation</a></p></li>
    <li><p><strong>随机名⼈名言</strong><br/>
    <strong>预览地址</strong>：<a href="https://MeloGuo.github.io/ExerciseItem/JQuery/RandomQuoteMachine/RandomQuoteMachine.html">RandomQuoteMachine</a></p></li>
    </ul>

    <h2 id="toc_17">技术文章</h2>

    <ul>
    <li><p><strong>小程序优化</strong><br/>
    <strong>链接</strong>：<a href="http://meloguo.com/2018/07/22/%E5%BE%AE%E4%BF%A1%E5%B0%8F%E7%A8%8B%E5%BA%8F%E8%B0%83%E8%B5%B7%E9%94%AE%E7%9B%98%E6%80%A7%E8%83%BD%E4%BC%98%E5%8C%96/">点击浏览</a></p></li>
    <li><p><strong>JavaScript 中的异步</strong><br/>
    <strong>链接</strong>：<a href="http://meloguo.com/2018/11/15/%E5%8D%8F%E7%A8%8Bco%E5%92%8Casync/">点击浏览</a></p></li>
    <li><p><strong>React 生命周期在 v16 的变化</strong><br/>
    <strong>链接</strong>：<a href="http://meloguo.com/2019/01/12/react%E6%96%B0%E7%94%9F%E5%91%BD%E5%91%A8%E6%9C%9F/">点击浏览</a></p></li>
    </ul>

    <p>更多文章请访问: <a href="http://meloguo.com">http://meloguo.com</a></p>

    <h2 id="toc_18">我的技能</h2>

    <h4 id="toc_19">HTML &amp; CSS &amp; 基本⼯工具</h4>

    <ul>
    <li>掌握 W3C 规范、开发调试、代码可读性、常见布局、HTML5、CSS3、盒模型、浮动定位、BFC、 CSS3 动画、Flex。</li>
    <li>熟悉 Git、命令⾏操作。</li>
    </ul>

    <h4 id="toc_20">JavaScript</h4>

    <ul>
    <li>熟悉原生 JS 实现常见效果、事件模型、DOM 操作、ajax、jsonp、跨域、闭包、原型链、面向对象。</li>
    <li>熟悉 ES6 块级作⽤域、模板字符串、箭头函数、数组对象的解构等功能并在项目中熟练运用。 </li>
    </ul>

    <h4 id="toc_21">框架</h4>

    <ul>
    <li>掌握 React、Redux、React-router、Webpack、Sass、NPM 在项目开发中的使用。</li>
    <li>掌握 Vue 的组件化开发并擅长抽象出通用组件。了解 Vue 的实现机制与原理。</li>
    </ul>

    <h4 id="toc_22">后端语⾔</h4>

    <ul>
    <li>有Express、MongoDB、Flask、SQLite等后端框架、数据库使用经验。</li>
    </ul>

    <h4 id="toc_23">其他</h4>

    <ul>
    <li>理解 HTTP 常见状态码，灵活使⽤各种 HTTP 首部。掌握基本网络攻击防御方法，例如防御 XSS、CSRF 等。</li>
    <li>在项目中有单元测试经验，灵活使用 karma + mocha + chai 进行测试。</li>
    <li>能够理解并使用常见设计模式，如:单例例模式、装饰器器模式、观察者模式等。</li>
    </ul>

    <h2 id="toc_24">个人评价</h2>

    <ul>
    <li><p>在工作上热衷于使用高效便捷的工具来提高效率，相信专注的力量。</p></li>
    <li><p>在对待事物上是结果悲观、行动乐观派，在开始做一件事情前我会把最糟糕的结果想好，但是在行动中我会充满乐观的向最高标准进发！</p></li>
    <li><p>同时我还是团队笑点担当，乐于自嘲，敢于大胆接受自身缺点和错误并正视和改正。出口成段、甩梗成章可以作为团队的快乐氛围制造机。</p></li>
    </ul>

    <p><strong>很高兴认识你，如果对我感兴趣希望可以进行联系。</strong></p>
</div>

<!-- English Version -->
<div class="en post-container" style="display: none;">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // var $zh = document.querySelector(".zh");
    // var $en = document.querySelector(".en");
    // function onLanChange(index){
    //     if(index == 0){
    //         $zh.style.display = "block";
    //         $en.style.display = "none";
    //     }else{
    //         $en.style.display = "block";
    //         $zh.style.display = "none";
    //     }
    // }
    // onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
